{% extends 'twitter/layout.html' %}
{% load humanize %}
{% block content %}
    <div id="main" class="container-fluid d-flex">
        <!-- Barra Izquierda -->
        <div class="sidebar m-5 d-none d-md-block">
            <div class="">
                <div class="card " style="width: 18rem; text-align:center;border-radius: 20px;">
                    <img class="card-img-top rounded-circle"
                        style="width:60%; position: relative;left: 62px;padding-top: 20px;"
                        src="{{ user.profile.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ user.first_name }}</h5>
                        <h6 class="card-title font-weight-bold">@{{ user }}</h6>
                        

                        <p class="card-text">{{ user.profile.bio }}</p>
                        <h6 class="card-title font-weight-bold">
                        {{ user.profile.followers.count }} Followers   
                        {{ user.profile.following.count }} Following
                        </h6>
                        {% if request.user.is_authenticated %}
                            {% if user.username != request.user.username %}
                                {% if user not in request.user.profile.following %}
                                <a href="{% url 'follow' user %}" class="btn  text-white rounded-pill">Seguir</a>
                                {% else %}
                                <a href="{% url 'unfollow' user %}" class="btn  text-white rounded-pill">Dejar de seguir</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        
                    </div>

                </div>
                <a href="{% url 'editar' %}" id="addATweetLeft" onclick="addTweet()" type="button"
                style="border-radius: 30px; font-size: 1.1rem; font-weight:bold;"
                class="btn btn-lg btn-block mt-4 text-white ">Editar mi perfil</a>
            </div>
        </div>
        <!-- End Barra Izquierda -->

        <!-- Center -->
        <div class="content">


            <!-- Tweets -->
            {% for post in posts %}
            <div id="tweetCards">
                <!-- FOR LOOP HERE -->
                <div class="tweet-wrap" style="border-radius:20px">
                    <div class="tweet-header">
                        <img src="{{ post.user.profile.image.url }}"
                            alt="" class="avator">
                        <div class="tweet-header-info">
                            {{ post.user.first_name }} <span>@{{ post.user }}</span><span>{{ post.timestamp|naturaltime }}
                            </span>
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                    <div class="tweet-info-counts">

                        <div class="comments">
                            <button style="background: white; border: none;"> 
                            <svg class="feather feather-message-circle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                <path
                                    d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                                </path>
                            </svg>
                            </button>
                            <div class="comment-count"></div>
                        </div>

                        <div class="retweets">
                            <button style="background: white; border: none;"> 
                            <svg class="feather feather-repeat sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                <polyline points="17 1 21 5 17 9"></polyline>
                                <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                                <polyline points="7 23 3 19 7 15"></polyline>
                                <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                            </svg>
                        </button>
                            <div class="retweet-count"> </div>
                        </div>

                        <div class="likes">
                            <button style="background: white; border: none;"> 
                            <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg>
                            </button>
                            <div class="likes-count"> </div>
                        </div>

                        <!-- DELETE -->
                        <div class="trash">
                            <a href="#" style="background: white; border: none;">
                                <i class="fa fa-trash-o" style="color:#657786; font-size: 20px" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!-- END-DELETE -->
                    </div>
                </div>
                <!-- FOR LOOP HERE -->

            </div>
            {% endfor %}
            <!-- EndTweets -->


        </div>
        <!-- End Center -->


        <!-- Barra Derecha -->
        <div class="sidebar m-5 d-none d-xl-block">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Who to Follow
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" style="text-decoration: none;color: #657787;">@mundopython</a></li>
                    <li class="list-group-item"><a href="#" style="text-decoration: none;color: #657787;">@mundopython</a></li>
                    <li class="list-group-item"><a href="#" style="text-decoration: none;color: #657787;">@mundopython</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}